version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      baseimages:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    groups:
      backstage:
        patterns:
          - "@backstage/*"
          - "@backstage-community/*"
          - "@roadiehq/*"
          - "@janus-idp/*"
      types-react:
        patterns:
          - "@types/react*"
      react:
        patterns:
          - "react*"
      babel:
        patterns:
          - "@babel/*"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: "chore(ci): "
    groups:
      actions:
        patterns:
          - "*"
